### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
#file_to_load = "..Resources/purchase_data.csv"
#file_to_load = "C:/Users/lumk4/Desktop/gitlab/Data2018/Hw4/Resources/purchase_data.csv"
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
#display columns of purchase data
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
#create dataframe
purch_data_df=pd.DataFrame(purchase_data)
#purch_data_df.head()

## Player Count

* Display the total number of players

In [4]:
#player_cnt = purch_data_df("SN").count
#print (player_cnt)
#purch_data_df.count()gives 780 rows

In [5]:
#THIS IS BAD  purch_data_df.nunique("SN")
#this is GOOOD!
#purch_data_df.nunique()
#try 3 is BETTER
uni_usrs = len(purch_data_df["SN"].unique())
print('Total Players:')
print('----------------')
print('      ',uni_usrs)

#2THIS IS BAD uniq_usr_df = purch_data_df.groupby(['SN']).size()
#2THIS IS BAD print uniq_usr_df()

Total Players:
----------------
       576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#header row
# 
#unique items in dataframe       
uni_items = purch_data_df['Item ID'].nunique()
#print(uni_items)

#avg price
avg_purch = purch_data_df["Price"].mean()
#print('${:.2f}'.format(avg_purch))

#calc total number of purchases
num_purch = len(purch_data_df)
#print(num_purch)

#/purch_data_df.count()
#total revunue
tot_revenue= sum(purch_data_df["Price"])
#print('${:.2f}'.format(tot_revenue))

#print ("Number of Unique Items     Average Price     Total # of Purchases     Total Revenue")
# print('--------------------------------------------------------------------------------------')
#print ("            ",uni_items , "           ", '${:.2f}'.format(avg_purch), "               ",num_purch, "                ",'${:.2f}'.format(tot_revenue))

#creating dataframe to put all the values
all_analys = pd.DataFrame({
    "Number of Unique Items": [uni_items],
    "Average Price" :         ["${:.2f}".format(avg_purch)],
    "Number of Purchases":    [num_purch],
    "Total Revenue":          ["${:.2f}".format(tot_revenue)]
    
})

all_analys

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# need df with Unique players
uniq_df = purch_data_df[['SN', 'Gender', 'Age']]
#remove
remove_dups = uniq_df.drop_duplicates(subset=['SN'], keep='first')
#remove_dups.head()

#uni_male_df
uni_male_df= remove_dups.loc[remove_dups["Gender"]=="Male"]
uni_male_cnt=uni_male_df['SN'].size
#print (uni_male_cnt)

#uni_female_df
uni_female_df= remove_dups.loc[remove_dups["Gender"]=="Female"]
uni_female_cnt=uni_female_df['SN'].size
#print (uni_female_cnt)

#uni_non_df
uni_non_df= remove_dups.loc[remove_dups["Gender"]=="Other / Non-Disclosed"]
uni_non_cnt=uni_non_df['SN'].size

#create DF for gender data
gen_df = pd.DataFrame({
    "Total Count" : [len(uni_male_df),len(uni_female_df),len(uni_non_df)],
    "Percentage of Players":['{:.2f}'.format((uni_male_cnt/uni_usrs)*100),'{:.2f}'.format((uni_female_cnt/uni_usrs)*100),'{:.2f}'.format((uni_non_cnt/uni_usrs)*100) ]})
#reindex
gen_df =pd.DataFrame.from_records(gen_df, index =["Male", "Female", "Other / Non-Disclosed"])
#display
gen_df

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#calculate total male, female and others
#get_uniq = purchase_data.drop_duplicates(subset="SN",inplace=True)
#get SN and Gender and store in another data frame

# copy earlier purchase data with SN, gender and age to another data frame
uniq = purchase_data[["SN", "Gender", "Age"]]

#get unique rows, clean up get_uniq, remove duplicate SN
uniq.drop_duplicates(subset = "SN", inplace = True)

#find total records  Gender = Male
men_df = uniq.loc[uniq["Gender"] == "Male", :]

#calc male percent (unique users from above)
tot_men_prcnt = (len(men_df)/ uni_usrs) * 100
#--------------------------------------------------
#calculate female

#find total records Gender = Female
female_df = uniq.loc[uniq["Gender"] == "Female", :]

#calculate female percent (uni-usrs above)
tot_female_prcnt = (len(female_df)/ uni_usrs) * 100

#--------------------------------------------------
#calculate others = Other / Non-Disclosed

#find total records where Gender = Other
others = uniq.loc[uniq["Gender"] == "Other / Non-Disclosed", :]

#calculate other percent (uni_usrs was calculated before)
tot_other_prcnt =  ((len(others)/ uni_usrs) * 100 ,2)

#--------------------------------------------------------

#creating dataframe to put all the new values:
gender_df = pd.DataFrame({
   # "Gender": ["Male", "Female", "Other / Non-Disclosed"],
   # index =["Male", "Female", "Other / Non-Disclosed"],
    "Total Count" : [len(men_df), len(female_df), len(others)],
    "Percentage of Players":    [tot_men_prcnt, tot_female_prcnt, tot_other_prcnt]
})

#change the index name to male, female, others
gender_df = pd.DataFrame.from_records(gender_df, index =["Male", "Female", "Other / Non-Disclosed"])

gender_df

C:\Users\lumk4\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

                       Total Count    Percentage of Players
Male                           484                  84.0278
Female                          81                  14.0625
Other / Non-Disclosed           11  (1.9097222222222223, 2)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
#bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 118]
#label
grp_labels = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]
                   
# Slice the data and place it into bins for all "values
purch_data_df['age group'] = pd.cut(purch_data_df["Age"], age_bins, labels=grp_labels)

#remove_dups.head()
remove_dups = purch_data_df.drop_duplicates(subset=['SN'], keep='first')

#purch_data_df.head(20)

age_grp = (remove_dups.groupby("age group").count())
df_cnt = age_grp.iloc[:,0]
df_per = (df_cnt.divide(df_cnt.sum()))*100
#print (df_per.datatype())
#new_df = df_cnt.join(df_per, on=‘age group’, how=‘outer’)
# tab =pd.merge(df_cnt,df_per, on 'Age', how= 'outer', indicator=True)
# merge(df1, df2, on='col1', how='outer', indicator='indicator_column')
#rekey
#gen_df = pd.DataFrame.from_records(gen_df, index =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
#display

# frames= [df_cnt,df_per]
# new_df = pd.concat(frames)

new_df = pd.DataFrame({'Total Count': df_cnt, 'Percentage of Players':df_per})
new_df.sort_index()
new_df = new_df.round(2)
new_df
new_df.head()

           Total Count  Percentage of Players
age group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#purch_data_df from above
#remove_dups from above
# groups by subset of data summed over unique users 
uniq_users_df = purch_data_df.groupby(['SN','Age']).sum()
    
# get frenquency count over length of first column
uni_usrs_cnt = uniq_users_df.groupby(['Age']).count().iloc[:,0]
    
# group and calculate price parameters relating to column chosen
df_grp = purch_data_df.groupby("age group")
df_count = df_grp.count().iloc[:,0]
df_percent = df_count.divide(df_count.sum())
df_purchase_avg = df_grp.Price.mean()
df_purchase_total = df_grp.Price.sum()
df_perperson_avg = df_purchase_total / new_df['Total Count']
#missing formatting above, use the new_df by the total colum 
    
    
# put data into DataFrame and format results
df_summary = pd.DataFrame(data=[df_count, df_percent, df_purchase_avg, df_purchase_total, df_perperson_avg]).transpose()
df_summary.columns = ['Purchase Count', 'Percentage of Purchases','Average Purchase Price', 'Total Purchase Value', 'Average Total Purchase per Person']
df_summary.style.format({'Average Purchase Price':'${:.2f}', 'Percentage of Purchases':'{0:.2%}', 'Total Purchase Value':'${:.2f}', 'Average Total Purchase per Person':'${:.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# make each top column individually, then concatinate into a DataFrame with proper formatting
top5_spender = purchase_data[['SN', 'Price']].groupby('SN').sum()
top5_spender.columns = ['Total Spent']
top5_avg = purchase_data[['SN', 'Price']].groupby('SN').mean()
top5_avg.columns = ['Average Spent per Item']
top5_cnt = purchase_data[['SN', 'Price']].groupby('SN').count()
top5_cnt.columns = ['Number of Items Purchased']
top5_spenders = pd.concat([top5_cnt, top5_avg, top5_spender], axis=1)

# make final Styler for output, including formatting money. .head(5) selects 
# out the top 5 after sorting by total spent
top5_output = top5_spenders.sort_values('Total Spent', ascending=False).head(5).style.format({'Total Spent':'${:.2f}', 'Average Spent per Item':'${:.2f}'})

top5_output

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
#df of items
item_df = purchase_data[['Item ID', 'Item Name', 'Price']]
#grp the items by ID then Name
item_grp = item_df.groupby(['Item ID', 'Item Name'])

purch_cnt = item_grp.count()
purch_cnt.columns = ['Purchase Count']
#drop dups
item_price_no_dups = item_df.drop_duplicates(subset='Item ID').groupby(['Item ID', 'Item Name']).sum()
total_purch_val = item_grp.sum()
total_purch_val.columns = ['Total Purchase Value']

total_purch_val
item_summary = purch_cnt.join(item_price_no_dups)
item_summary = item_summary.join(total_purch_val)
item_summary.sort_values('Purchase Count', ascending=False).head(5)

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [19]:
dec_display = item_summary.sort_values('Total Purchase Value', ascending=False).head(100)
dec_display.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80